@charset "utf-8";
/* Class for the main file */
html{
	background: #000000;
}
.main {
	position: relative;
    background-image: linear-gradient(#4967B9 ,#002997 ,#4967B9);
    color: white;
    height: 900px;
}
/* Class for the navigation bar */
.navbar {
    overflow: hidden;
    background-color: black;
	color: floralwhite;
	width: 100%;
	
}
/* Class for the navigation selection */
.selection {
	float:left;
}

.selection a{
	display: block;
  	color: white;
  	text-align: center;
 	padding: 14px 16px;
  	text-decoration: none;
}

.selection a:hover {
	background-color: #111;
}
/* Class for the Banner */
.banner {
    text-align: center;
	background-image: radial-gradient(#FFA351,#E46B00,#B85700);
	border-style: outset;
	padding: 10px;
	font-family: 'Castoro Titling', serif;
	text-shadow: 2px 2px 2px black;
	border-radius: 5px;
	border-color: orange;
}
/* Class for the Footer */
.bottom {
    align-self: baseline;
    position: absolute;
	bottom: 0px;
    background-color: darkorange;
    height: 50px;
    width: 100%;
    text-align: center;
}
/* padding the text */
.Contast {
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: darkgray;
	font-family: 'Bitter', serif;
}
/* Class for the forms */
.emailform {
    padding: 10px;
    margin: 10px;
}
.textarea {
	width: 500px;
	height:200px;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

/* media size for banner and nav */
@media screen and (max-width: 700px)
{
	.navbar
	{
		width: 600px;
	}
	.banner
	{
		 width: 600px;
	}
}
