@charset "utf-8";
html{
	background: #000000;
}
/* Class for the main file */
.main {
	position: relative;
    background-image: linear-gradient(#4967B9 ,#002997 ,#4967B9);
    color: white;
    height: 1000px;
	width: 100%;
}
/* Class Navigation bar */
.navbar{
	
	top: 0px;
    overflow: hidden;
    background-color: black;
	color: floralwhite;
	width: 100%;
	
}
/* Classes nagigation selection */
.selection{
	float:left;
}
.selection a{
	display: block;
  	color: white;
  	text-align: center;
 	padding: 14px 16px;
  	text-decoration: none;
}
.selection a:hover
{
	background-color: #111;
}
/* Class for the banner */
.banner{
   text-align: center;
	background-image: radial-gradient(#FFA351,#E46B00,#B85700);
	border-style: outset;
	padding: 10px;
	font-family: 'Castoro Titling', serif;
	text-shadow: 2px 2px 2px black;
	border-radius: 5px;
	border-color: orange;
	
}
/* Class for the footer */
.bottom
{
    align-self: baseline;
    position: absolute;
	bottom: 0px;
    background-color: darkorange;
    height: 50px;
    width: 100%;
    text-align: center;
}
/* media size for banner and nav */
@media screen and (max-width : 700px )
{
	.navbar
	{
		width: 600px;
	}
	.banner
	{
		 width: 600px;
	}
}
.block {
	background: #9A9A9A;
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: 'Bitter', serif;
}
