@charset "utf-8";
/* Class for the main file */
.main {
	position: relative;
    background-color: navy;
    color: white;
    height: 900px;
}
/* Class Navigation bar */
.navbar{
    overflow: hidden;
    background-color: black;
	color: floralwhite;
	
}
/* Classes nagigation selection */
.selection{
	float:left;
}
.selection a{
	display: block;
	
  	color: white;
  	text-align: center;
 	padding: 14px 16px;
  	text-decoration: none;
}
.selection a:hover
{
	background-color: #111;
}
/* Class for the banner */
.banner{
    width: 830px;
    height: 117px;
    object-fit: contain;
}
/* Class for the footer */
.bottom
{
    align-self: baseline;
    position: absolute;
	bottom: 10px;
    background-color: darkslateblue;
    height: 50px;
    width: 100%;
    text-align: center;
}
