@charset "utf-8";
/* Class fo the main file */
.main {
	position: relative;
    background-color: navy;
    color: white;
    height: 900px;
	
}
/* navigation bar */
.navbar{
    overflow: hidden;
    background-color: black;
	color: floralwhite;
	width: 100%;
	
}
/* Classes for selection of the links */
.selection{
	float:left;
}

.selection a{
	display: block;
	
  	color: white;
  	text-align: center;
 	padding: 14px 16px;
  	text-decoration: none;
}

.selection a:hover
{
	background-color: #111;
}
/* Banner of the file */
.banner {
    width: 830px;
    height: 117px;
    object-fit: contain;
}
/* Footer */
.bottom
{
   align-self: baseline;
    position: absolute;
	bottom: 1px;
    background-color: darkslateblue;
    height: 50px;
    width: 100%;
    text-align: center;
}
/* Class' for the links */
.links {
	margin: 10px;
	border-style: double;
	width: 200px;
	text-align: center;
	float: left;
	
}

ul {
	list-style-type: none;
	
}

a:link {
  	text-decoration: none;
	color: aliceblue
}

a:visited {
  	text-decoration: none;
}

a:hover {
  	text-decoration: underline;
	color: aqua
}

a:active {
  	text-decoration: underline;
	color: aqua
}
/* media size for banner and nav */
@media screen and (max-width: 700px)
{
	.navbar
	{
		width: 600px;
	}
	.banner
	{
		 width: 600px;
	}
}
